<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Duden</string>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.SearchDuden</string>
	<key>CFBundleName</key>
	<string>Search Duden.de</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBTextInputTitle</key>
	<string>Duden.de</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Allows searching Duden.de, a dictionary of the German language.</string>
		<key>LBRequirements</key>
		<string>Requires an active internet connection.</string>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBEmail</key>
		<string>launchbar@obdev.at</string>
		<key>LBWebsite</key>
		<string>http://www.obdev.at/</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
	</dict>
</dict>
</plist>
