<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.PostiTunesSongOnTwitter</string>
	<key>CFBundleName</key>
	<string>Post current iTunes song on Twitter</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Composes a Tweet with the current song, artist and iTunes Store link.</string>
		<key>LBRequirements</key>
		<string>Requires iTunes to be playing a song that is available on the iTunes Store. Requires an active internet connection.</string>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBEmail</key>
		<string>launchbar@obdev.at</string>
		<key>LBWebsite</key>
		<string>http://www.obdev.at/</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
	</dict>
</dict>
</plist>
