<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.TurnBluetoothOff</string>
	<key>CFBundleIconFile</key>
	<string>/System/Library/PreferencePanes/Bluetooth.prefPane/Contents/Resources/AppIcon.icns</string>
	<key>CFBundleName</key>
	<string>Turn Bluetooth Off</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.sh</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Turns Bluetooth off. Uses “blueutil” by Frederik Seiffert: http://www.frederikseiffert.de/blueutil/</string>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBEmail</key>
		<string>launchbar@obdev.at</string>
		<key>LBWebsite</key>
		<string>http://www.obdev.at/</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
	</dict>
</dict>
</plist>
