<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.codeography.LauchBar.action.DidYouMean</string>
	<key>CFBundleName</key>
	<string>Did You Mean</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christopher Sexton</string>
		<key>LBEmail</key>
		<string>csexton@codeography.com</string>
		<key>LBTwitter</key>
		<string>@crsexton</string>
		<key>LBWebsite</key>
		<string>http://www.codeography.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBScriptName</key>
			<string>default.rb</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.rb</string>
		</dict>
	</dict>
</dict>
</plist>
